/* custom-scrollbar.css */

/* Track */
::-webkit-scrollbar {
    width: 3px;
    height: 1px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #551a8b; /* Change this to your desired color */
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3579b0; /* Change this to your desired hover color */
  }

#root{
    background:#f5f6fc
}

